.parent-div{
    background: #EFEFEF;
    padding: 3.125rem 0;
}

.title-div{
    font-size: 2.5rem;
    color: grey;
    margin: 0 0 2.5rem 0;
    text-align: center;
}

.card-holders{
    display: flex;
    justify-content: center;
    margin-bottom: 3.125rem;
}


/*JSON HOLDER CSS STARTS*/
.text-area-div{
    width: calc( 70% - 2.5rem );
    margin-right: 2.5rem;
}

.input-area{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 1.563rem;
    margin: 0 3.65rem;
}

.input-area:after{
    content: '';
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    background-image: radial-gradient(grey, white);
}

.text-area-style{
    height: 25rem;
    min-height: 25rem;
    width: 99%;
    resize: vertical;
    border: 2px solid grey;
    border-radius: 5px;
}
.text-area-style:focus{
    outline: none;
}
/*ENDS*/

/*Year container DIV and the button CSS*/
/*STARTS*/
.year-container-div{
    width: 30%;
}

.year-input{
    height: 2.5rem;
    width: 60%;
    padding: 0 5px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}
.year-input:focus{
    outline: none;
}
.year-label{
    color: grey;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.313rem;
}

.update-btn{
    height: 3.125rem;
    width: 40%;
    color: white;
    background-color: #1390D3;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.313rem 0;
}
.update-btn:hover{
    color: #fff;
    background-color: #0E4D92;
    border-color: #0E4D92;
}
/*ENDS*/

/*Hide the default arrows for year input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}